In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
data = pd.get_dummies(pd.read_csv('./dataset_v2/train.csv'))
data.head()

,tag_id,image_id,p1_x,p_1y,p2_x,p2_y,p3_x,p3_y,p4_x,p4_y,...,sub_class_truck,sub_class_van,color_black,color_blue,color_green,color_other,color_red,color_silver/grey,color_white,color_yellow
0,15036,16490,3988.399902,1227.588745,3986.710693,1213.288208,4002.600098,1211.411255,4004.289307,1225.711792,...,0,0,1,0,0,0,0,0,0,0
1,31658,16490,3380.804152,33.370945,3329.811654,128.465062,3358.064254,142.935906,3409.056752,44.396350,...,1,0,0,0,0,0,1,0,0,0
2,26971,17122,3948.334473,1426.797241,3958.876221,1410.750122,4000.665527,1438.202759,3990.123779,1454.249878,...,0,0,0,0,0,0,1,0,0,0
3,19301,12193,1977.798007,1009.010733,1983.435998,992.096760,2034.177918,1009.010733,2027.913483,1027.177593,...,0,0,0,0,0,0,0,1,0,0
4,35906,12193,3196.620177,1284.240545,3193.174738,1311.804057,3288.957942,1321.451286,3292.403381,1293.198686,...,1,0,0,0,0,0,1,0,0,0

In [3]:
print(f"Number of Tag Id's:\t{len(data)}")

Number of Tag Id's:	11617

In [4]:
data_sel = data.iloc[:, 10:]
data_sel.head()

,sunroof,luggage_carrier,open_cargo_area,enclosed_cab,spare_wheel,wrecked,flatbed,ladder,enclosed_box,soft_shell_box,...,sub_class_truck,sub_class_van,color_black,color_blue,color_green,color_other,color_red,color_silver/grey,color_white,color_yellow
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,-1,-1,0,-1,-1,0,-1,0,1,0,...,1,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,-1,-1,-1,-1,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,-1,-1,-1,-1,...,0,0,0,0,0,0,0,1,0,0
4,-1,-1,0,-1,-1,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [5]:
cls = {}

# Iterate over classes and get number of occurences where value is 1
for col in data_sel.columns:
    size = len(data_sel.loc[data_sel[col] == 1])
    cls[col] = size

# Sort dict by value - ascending
cls_sorted = sorted(cls.items(), key=lambda value: value[1])

In [6]:
cls_sorted

[('ladder', 2),
 ('sub_class_tanker', 3),
 ('harnessed_to_a_cart', 4),
 ('sub_class_dedicated agricultural vehicle', 5),
 ('sub_class_crane truck', 16),
 ('sub_class_cement mixer', 17),
 ('sub_class_minibus', 25),
 ('soft_shell_box', 30),
 ('sub_class_prime mover', 44),
 ('sub_class_bus', 53),
 ('ac_vents', 72),
 ('flatbed', 77),
 ('color_green', 97),
 ('enclosed_box', 133),
 ('sub_class_light truck', 164),
 ('enclosed_cab', 172),
 ('sub_class_truck', 179),
 ('spare_wheel', 181),
 ('open_cargo_area', 256),
 ('color_yellow', 258),
 ('sub_class_van', 362),
 ('luggage_carrier', 383),
 ('color_red', 414),
 ('sub_class_pickup', 435),
 ('general_class_large vehicle', 506),
 ('sub_class_minivan', 586),
 ('color_other', 626),
 ('color_blue', 742),
 ('sunroof', 853),
 ('sub_class_jeep', 865),
 ('wrecked', 881),
 ('color_black', 1158),
 ('sub_class_hatchback', 3080),
 ('color_silver/grey', 3505),
 ('color_white', 4817),
 ('sub_class_sedan', 5783),
 ('general_class_small vehicle', 11111)]

In [58]:
train_idx = []
test_idx = []
for col in cls_sorted:
    print(col)
    # Get indexes for class where target value is 1
    indexes = data_sel.loc[data_sel[col[0]] == 1].index
    
    # get size of training split for current class
    #cur_size = int(len(indexes) * 0.8)
    #print(f"size of split should be: {cur_size}")
    
    # get number of indexes in already in train_idx and test_idx
    #n_train = len([i for i in indexes if i in train_idx])
    #n_test = len([i for i in indexes if i in test_idx])
    
    # Remove indexes that already are appended to test_idx array
    indexes = [indexes[i] for i in range(len(indexes)) if indexes[i] not in test_idx and indexes[i] not in train_idx]
    #print(f"num indexes to sample from: {len(indexes)}")
    
    # get size of how many indexes should be drawn for train
    train_size = int(len(indexes) * 0.8) # - n_train - n_test
    #print(f"size of samples to be drawn: {train_size}")
    
    idx_train = [indexes[i] for i in sorted(random.sample(range(len(indexes)), train_size))]
    idx_test = [indexes[i] for i in range(len(indexes)) if indexes[i] not in idx_train]
    
    test_idx.extend(idx_test)
    train_idx.extend(idx_train)

('ladder', 2)
num indexes to sample from: 2
size of samples to be drawn: 1
('sub_class_tanker', 3)
num indexes to sample from: 2
size of samples to be drawn: 1
('harnessed_to_a_cart', 4)
num indexes to sample from: 4
size of samples to be drawn: 3
('sub_class_dedicated agricultural vehicle', 5)
num indexes to sample from: 5
size of samples to be drawn: 4
('sub_class_crane truck', 16)
num indexes to sample from: 15
size of samples to be drawn: 12
('sub_class_cement mixer', 17)
num indexes to sample from: 17
size of samples to be drawn: 13
('sub_class_minibus', 25)
num indexes to sample from: 25
size of samples to be drawn: 20
('soft_shell_box', 30)
num indexes to sample from: 29
size of samples to be drawn: 23
('sub_class_prime mover', 44)
num indexes to sample from: 39
size of samples to be drawn: 31
('sub_class_bus', 53)
num indexes to sample from: 53
size of samples to be drawn: 42
('ac_vents', 72)
num indexes to sample from: 6
size of samples to be drawn: 4
('flatbed', 77)
num indexes to sample from: 65
size of samples to be drawn: 52
('color_green', 97)
num indexes to sample from: 92
size of samples to be drawn: 73
('enclosed_box', 133)
num indexes to sample from: 106
size of samples to be drawn: 84
('sub_class_light truck', 164)
num indexes to sample from: 79
size of samples to be drawn: 63
('enclosed_cab', 172)
num indexes to sample from: 170
size of samples to be drawn: 136
('sub_class_truck', 179)
num indexes to sample from: 61
size of samples to be drawn: 48
('spare_wheel', 181)
num indexes to sample from: 172
size of samples to be drawn: 137
('open_cargo_area', 256)
num indexes to sample from: 230
size of samples to be drawn: 184
('color_yellow', 258)
num indexes to sample from: 223
size of samples to be drawn: 178
('sub_class_van', 362)
num indexes to sample from: 325
size of samples to be drawn: 260
('luggage_carrier', 383)
num indexes to sample from: 323
size of samples to be drawn: 258
('color_red', 414)
num indexes to sample from: 354
size of samples to be drawn: 283
('sub_class_pickup', 435)
num indexes to sample from: 32
size of samples to be drawn: 25
('general_class_large vehicle', 506)
num indexes to sample from: 0
size of samples to be drawn: 0
('sub_class_minivan', 586)
num indexes to sample from: 480
size of samples to be drawn: 384
('color_other', 626)
num indexes to sample from: 528
size of samples to be drawn: 422
('color_blue', 742)
num indexes to sample from: 639
size of samples to be drawn: 511
('sunroof', 853)
num indexes to sample from: 593
size of samples to be drawn: 474
('sub_class_jeep', 865)
num indexes to sample from: 423
size of samples to be drawn: 338
('wrecked', 881)
num indexes to sample from: 472
size of samples to be drawn: 377
('color_black', 1158)
num indexes to sample from: 846
size of samples to be drawn: 676
('sub_class_hatchback', 3080)
num indexes to sample from: 1629
size of samples to be drawn: 1303
('color_silver/grey', 3505)
num indexes to sample from: 1766
size of samples to be drawn: 1412
('color_white', 4817)
num indexes to sample from: 1812
size of samples to be drawn: 1449
('sub_class_sedan', 5783)
num indexes to sample from: 0
size of samples to be drawn: 0
('general_class_small vehicle', 11111)
num indexes to sample from: 0
size of samples to be drawn: 0

In [12]:
indexes = data_sel.loc[data_sel['sunroof'] == 1].index
print(f"N samples sunroof:\t{len(indexes)}")

train_idx = [11526, 11532, 11553, 11568]
test_idx = [11, 49, 54, 63, 92]
indexes = [indexes[i] for i in range(len(indexes)) if indexes[i] not in test_idx and indexes[i] not in train_idx]

train_size = int(len(indexes) * 0.8)
print(f"train size:\t\t{train_size}\ntest size:\t\t{len(indexes)-train_size}")


idx_train = [indexes[i] for i in sorted(random.sample(range(len(indexes)), train_size))]
len(idx_train)

N samples sunroof:	853
train size:		675
test size:		169

675

In [6]:
def train_valid_split(df, trainsplit_size):
    # placeholders
    cls = {}
    train_idx = []
    valid_idx = []
    
    # get number of occurrences for each class
    for col in df.columns:
        size = len(df.loc[df[col] == 1])
        cls[col] = size
    
    # sort classes by ascending
    cls_sorted = sorted(cls.items(), key=lambda value: value[1])
    
    # 
    for col in cls_sorted:
        # get indexes for samples where class value is 1
        indexes = df.loc[df[col[0]] == 1].index
    
        # Remove indexes that already are appended to test_idx array
        indexes = [indexes[i] for i in range(len(indexes)) if indexes[i] not in valid_idx and indexes[i] not in train_idx]
        
        # get size of how many indexes should be drawn for train
        train_size = int(len(indexes) * trainsplit_size)
        
        # get indexes for train- and validation split
        idx_train = [indexes[i] for i in sorted(random.sample(range(len(indexes)), train_size))]
        idx_valid = [indexes[i] for i in range(len(indexes)) if indexes[i] not in idx_train]
        
        # save indexes
        valid_idx.extend(idx_valid)
        train_idx.extend(idx_train)
        
    return train_idx, valid_idx

In [7]:
train, valid = train_valid_split(data_sel, trainsplit_size=0.8)
print(len(train),len(valid))

9281 2336

In [ ]:
d = pd.DataFrame(data=train, columns=['train'])
d['test_idx'].duplicated().value_counts()